wagtail~=2.10.1
Django~=3.1
wagtailmenus~=3.0.2
django-extensions~=3.0.5
dj-database-url~=0.5.0
psycopg2-binary~=2.8.5
django-redis~=4.12.1
python-dotenv~=0.14.0
django-npm~=1.0.0
libsass~=0.20.1
django-compressor~=2.4
django-sass-processor~=0.8.1
django-widget-tweaks~=1.4.8
sentry-sdk~=0.17.0
