Django~=3.1.1
wagtail~=2.10.1
django-extensions~=3.0.8
# nice widhget utilities
django-widget-tweaks~=1.4.8
# menus support
wagtailmenus~=3.0.2
# database/postgresql
dj-database-url~=0.5.0
psycopg2-binary~=2.8.5
# redis support
django-redis~=4.12.1
# read .env for config
python-dotenv~=0.14.0
# node_modules -> static files
django-npm~=1.0.0
# static scss -> .css
libsass~=0.20.1
django-sass~=1.0.0
# compress/minify/uglify output + supported filters
django-compressor~=2.4
calmjs~=3.4.1
csscompressor~=0.9.5
# for media in aws-s3 or linode-object store
django-storages~=1.10
boto3~=1.14.56
# sentry.io monitoring
sentry-sdk~=0.17.3
