html {
    min-height: 100%;
    font-family: sans-serif;
}

.bg-dark {
    background-color: #092c4e !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
    color: white;
    background-color: #092c4e !important;
}

.navbar, .navbar a {
    text-decoration: none;
    color: white;
}

.under-construction a {
    padding: 0 5px;
    background-color: yellow;
    color: darkred !important;
}

.container, .container-fluid, .container-md {
    padding: 0;
}

.navbar {
    height: 40px;
}

.main-content {
}

.graphic {
    overflow: hidden;
}

.fit {
    width: 100%;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}

.social-icon {
    height: 64px;
    margin: 0.25em;
}

ul.social-icons {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-icons li {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.logo {
    height: 30px;
}
