{% extends 'base.html' %}

{% load static %}

{% block metas %}
    <meta name="twitter:image" content="{% static 'images/ywfa_logo.png' %}">
  {% block description %}
    <meta name="description" content="Providing advice about funerals when you need it most.">
  {% endblock description %}
{% endblock metas %}

{% block site_stylesheets %}
  <link rel="stylesheet" href="{% static 'scss/cms.css' %}" type="text/css" >
{% endblock site_stylesheets %}

{% block navigation %}
  {% include 'partials/_navigation.html' %}
{% endblock navigation %}
