{% extends 'cms/base.html' %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% if page.display_title and page.title %}
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="ywfa-page-title">{{ page.title }}</h1>
    </div>
  </div>
{% endif %}
{% if self.carousel_images.count > 0 %}
  <div class="row">
    <div class="col-md-10 offset-md-1 carousel-content">
      <div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for loop_cycle in self.carousel_images.all %}
            <li data-target="#carouselControls" data-slide-to="{{ forloop.counter0 }}"{% if forloop.counter == 1 %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <div class="carousel-inner">
          {% for item in self.carousel_images.all %}
            {% image item.carousel_image fill-1024x350 as img %}
              <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}" data-interval="{{ item.carousel_interval }}">
                <div class="overlay-image" style="background-image:url('{{ img.url }}');"></div>
                  <div class="container">
                    {% if item.carousel_title %}<h1>{{ item.carousel_title }}</h1>{% endif %}
                    {% if item.carousel_content %}<p>{{ item.carousel_content|richtext }}</p>{% endif %}
                    {% if item.carousel_attribution %}<p class="attribution">{{ item.carousel_attribution }}</p>{% endif %}
                  </div>

              </div>
          {% endfor %}
        </div>

        <a class="carousel-control-prev carousel-control" href="#carouselControls" role="button" data-slide="prev">
            <img src="{% static 'bootstrap-icons/icons/caret-left-fill.svg' %}" alt="&lt;" aria-hidden="true" />
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next carousel-control" href="#carouselControls" role="button" data-slide="next">
            <img src="{% static 'bootstrap-icons/icons/caret-right-fill.svg' %}" alt="&gt;" aria-hidden="true" />
            <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
{% endif %}
{% block inner-content %}
{% for body in page.body %}
  {% include_block body %}
{% endfor %}
{% endblock inner-content %}
{% endblock content %}
