{% load static sass_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{% block metas %}
{% endblock metas %}
{% block favicon %}
  <link rel="icon" type="image/svg" sizes="120x120" href="{% static 'images/favicon.svg' %}" />
{% endblock favicon %}
{% block title_all %}
  <title>
    {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}
    {% block title_suffix %}{% with self.get_site.site_name as site_name %}{% if site_name %}- {{ site_name }}{% endif %}{% endwith %}{% endblock title_suffix %}
  </title>
{% endblock title_all %}
  {% block fonts %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Nunito+Sans:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap">
{% endblock fonts %}
{% block global_stylesheets %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% sass_src 'css/ywfa.scss' %}" />
{% endblock global_stylesheets %}
{% block extra_css %}{% endblock extra_css %}
{% block site_stylesheets %}{% endblock site_stylesheets %}
</head>

<body class="{% block body_class %}body{% endblock body_class %}" {% block body_attrs %}{% endblock body_attrs %}>
{% wagtailuserbar %}{% block body_top %}{% endblock body_top %}
{% block content_outer %}
<div class="container container-top">
  {% block navigation %}{% endblock navigation %}
  {% block content %}{% endblock content %}
</div>
{% endblock content_outer %}
{% block global_scripts %}
  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script crossorigin="anonymous" src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
{% endblock global_scripts %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/ywfa.js' %}"></script>
{% endblock scripts %}
</body>
</html>
