{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block metas %}
  {% endblock metas %}
  {% block favicon %}
    <link rel="icon" href="../static/images/favicon.png" />
  {% endblock %}
    <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock title %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}{% if site_name %}- {{ site_name }}{% endif %}{% endwith %}
    {% endblock title_suffix %}
    </title>
  {% block global_stylesheets %}
  {% endblock global_stylesheets %}
  {% block extra_css %}
  {% endblock extra_css %}
  {% block site_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ywfa.css' %}">
  {% endblock site_stylesheets %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar %}
  {% block content %}
  {% endblock content %}
  {% block scripts %}
    <script type="text/javascript" src="{% static 'js/ywfa.js' %}"></script>
  {% block extra_scripts %}
  {% endblock extra_scripts %}
  {% endblock scripts %}
  </body>

</html>
