{% load static compress wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{% block metas %}
{% endblock metas %}
{% block favicon %}
  <link rel="icon" type="image/svg" sizes="120x120" href="{% static 'images/favicon.svg' %}" />
{% endblock favicon %}
{% block title_all %}
  <title>
    {% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock title %}
    {% block title_suffix %}{% with self.get_site.site_name as site_name %}{% if site_name %}- {{ site_name }}{% endif %}{% endwith %}{% endblock title_suffix %}
  </title>
{% endblock title_all %}
{% block fonts %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap">
{% endblock fonts %}
{% block global_stylesheets %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'socicon/css/socicon.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'scss/ywfa.css' %}" type="text/css" />
  {% endcompress %}
{% endblock global_stylesheets %}
{% block extra_css %}{% endblock extra_css %}
{% block site_stylesheets %}{% endblock site_stylesheets %}
</head>

<body class="{% block body_class %}ywfa{% endblock body_class %}" {% block body_attrs %}{% endblock body_attrs %}>
{% wagtailuserbar %}{% block body_top %}{% endblock body_top %}
{% block content_outer %}
<div class="container-top">
  {% block navigation %}{% endblock navigation %}
</div>
<div class="container-body">
  {% block content %}{% endblock content %}
</div>
<div class="container-bottom">
{% block footer %}{% endblock footer %}
</div>
{% endblock content_outer %}
{% block global_scripts %}
  {% compress js %}
    <script defer src="{% static 'popper.js/dist/umd/popper.js'%}"></script>
    <script defer src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
  {% endcompress %}
{% endblock global_scripts %}
{% block scripts %}
  {% compress js %}
    <script defer src="{% static 'js/ywfa.js' %}" type="text/javascript"></script>
  {% endcompress %}
{% endblock scripts %}
</body>
</html>
