{% load static %}
<div class="pt-4">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="row">
        {% with value as product %}
        <div class="col-md-6 p-2">  <!-- left side -->
          {% if product.image %}
            <p class="product-image">
              <img src="{% get_media_prefix %}{{ product.image }}" alt="{{ product.code }}" width="100%" height="auto">
            </p>
          {% endif %}
        </div>

        <div class="col-md-6 p-2">  <!-- right side -->
          <h4>{{ product.title }}</h4>
          {% if product.detail %}
            <p class="cart-text text-muted small product-detail">
                {{ product.detail }}
            </p>
          {% endif %}
          <div class="mt-auto">
            <p class="text-center product-price mb-0 mt-2">
              <strong>AUD {{ product.price }}</strong>
            </p>
            <p class="text-center">
              {% include 'shop/partials/_add_to_cart.html' %}
            </p>
          </div>
        </div>
        {% endwith %}
      </div>
    </div>
  </div>
</div>
