{% load embedurl wagtailcore_tags wagtailembeds_tags %}

  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      {% if value.title %}
      <h3 class="ywfa-inner-heading mb-0">
        {{ value.title }}
      </h3>
      {% endif %}
      <div class="ratio ratio-16x9">
        <iframe src="{{ value.video.url|embedurl }}" allowfullscreen></iframe>
      </div>
      {% if value.text %}
      <div class="ywfa-richtext-text">
        {{ value.text|richtext }}
      </div>
      {% endif %}
    </div>
  </div>
