@import 'functions';

$color-base: #699dd7;
$color-dark: #092e6b;
$color-text: #05056b;
$color-light: #bfcee2;
$color-white: #ffffff;
$color-soft: rgba($color-base, 0.4);
$color-background-dark: rgba($color-dark, 0.6);
$color-background-light: rgba($color-dark, 0.1);

$color-background-nav-dark: #4073c2;
$color-background-nav-light: #bfcee2;
$color-background-nav: linear-gradient(to top, $color-background-nav-dark, $color-background-nav-light);

$frost-white: rgba(240, 240, 255, 1);
$hard-white: rgba(255, 255, 255, 0.9);
$soft-white: rgba(255, 255, 255, 0.5);
$softer-white: rgba(255, 255, 255, 0.4);
$soft-shadow: rgba(53, 53, 53, 0.6);

$font-size-base: 16px;
$font-default: $font-size-base 'Nunito Sans', Ariel, Helvetica, serif;
$font-heading: $font-size-base 'Alex Brush', cursive, serif;

$width-xl: 1200px;
$width-lg: 992px;
$width-md: 768px;
$width-sm: 576px;

$background-anchor: top center;
