# variables used to build container .env files used in containers
DJANGO_SECRET_KEY
DJANGO_BASE_URL
DJANGO_DEBUG
CACHE_URL
DATABASE_URL
EMAIL_URL
S3_DOMAIN
S3_REGION
S3_ACCESS_KEY
S3_SECRET_KEY
S3_BUCKET_NAME
STRIPE_PUBLIC_KEY
STRIPE_PRIVATE_KEY
STRIPE_SIGNING_KEY
SENTRY_DSN
