{% load static menu_tags %}
<div class="container-fluid container-top">

  <div class="row ywfa-top-bar">
    <div class="ywfa-logo">
      <picture>
        <img src="{% static 'images/ywfa-logo-full.png' %}" alt="Your Wishes Logo" height="80">
      </picture>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg ywfa-nav">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <img src="{% static 'bootstrap-icons/icons/list.svg' %}" class="ywfa-border" alt="">
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="mainMenu">
        <ul class="nav mb-lg-0">
          {% main_menu template="cms/partials/_main.html" %}
        </ul>
    {#      <form class="d-flex input-group w-auto">#}
    {#        <input type="search" class="form-control" placeholder="Search..." aria-label="Search"/>#}
    {#        <button class="btn btn-outline-primary" type="button" data-ripple-color="dark">#}
    {#          <img class="ywfa-icon" src="{% static 'bootstrap-icons/icons/search.svg' %}" alt="search"/>#}
    {#        </button>#}
    {#      </form>#}
      </div>
    </div>
  </nav>

</div>
