{% extends 'base.html' %}
{% load static %}

{% block title %}Your Wishes Funeral Advocacy{% endblock %}

{% block metas %}
    <meta name="description" content="Solid advice when you need it the most">
    <meta name="keywords" content="funeral advocacy advise">
    <meta name="author" content="davidn@uniquode.io">
{% endblock metas %}

{% block site_stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/site.css' %}">
{% endblock site_stylesheets %}

{% block content %}
{% spaceless %}
  <header class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <b><a class="navbar-brand" href="#">Your Wishes Funeral Advocacy</a></b>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item under-construction">
            <a class="nav-link" href="#">This site is currently under construction</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Begin page content -->
  <main role="main" class="container-fluid main-content">
    <div class="row">
      <img src="{% static 'images/website logo wall.jpeg' %}" alt="Your Wishes Funeral Advocacy" class="fit">
    </div>
  </main>

  <footer class="container-fluid">
    <div class="row">
      <ul class="social-icons">
        <li>
          <strong>Find us on </strong>
        </li>
        <li>
          <a href="http://facebook.com/YourWishesFuneralAdvocacy" target="_blank">
            <img src="{% static 'images/social/facebook.png' %}" class="social-icon" alt="facebook">
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/company/yourwishesfuneraladvocacy" target="_blank">
            <img src="{% static 'images/social/linkedin.png' %}" class="social-icon" alt="linkedin">
          </a>
        </li>
      </ul>
    </div>
  </footer>

  {% block global_scripts %}
  {% endblock global_scripts %}
{% endspaceless %}
{% endblock %}
