{% extends 'cms/base.html' %}
{% load static wagtailsettings_tags crispy_forms_tags %}

{% block content %}
  <div class="row cart">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <h3 class="text-center">Order #{{ order.id }}</h3>
      <div class="bg-warning px-1">
        <p>{{ order.status }}, {{ order.paid }}</p>
      </div>
      <table class="table table-secondary shadow-lg" width="100%">
        <thead>
          <tr class="table-dark">
            <th>Code</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Unit Price AUD</th>
            <th class="text-right">Price AUD</th>
          </tr>
        </thead>
        <tbody>
        {% for item in order.items.all %}
          <tr>
            <td class="nowrap">{{ item.product.code }}</td>
            <td>{{ item.product.title }}</td>
            <td class="text-right">{{ item.quantity }}</td>
            <td class="text-right">{{ item.product.price|floatformat:2 }}</td>
            <td class="text-right">{{ item.total_price|floatformat:2 }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="5" class="text-center">There are no items in this order.</td>
          </tr>
          <tr>
            <td colspan="5">&nbsp;</td>
          </tr>
        {% endfor %}
          {% if cart.shipping %}
          <tr>
            <td></td>
            <td>Shipping &amp; Handling</td>
            <td colspan="2"></td>
            <td class="text-right">{{ order.shipping|floatformat:2 }}</td>
          </tr>
          {% endif %}
          <tr class="table-dark">
            <td colspan="3"></td>
            <td class="text-right"><strong>Total</strong></td>
            <td class="text-right"><strong>{{ order.total_price|floatformat:2 }}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12 col-md-10 offset-md-1 mb-2">
      <h2 class="text-center">Order Details</h2>
      <div class="bg-light">
        <div class="row">
          <div class="sm-5 col-md-2 text-right font-weight-bold">Name</div><div class="sm-6 col-md-3">{{ order.first_name }} {{ order.last_name }}</div>
          <div class="sm-5 col-md-2 text-right font-weight-bold">Email</div><div class="sm-6 col-md-3">{{ order.email }}</div>
        </div>
        <div class="row">
          <div class="sm-5 col-md-2 text-right font-weight-bold">Address</div><div class="sm-6 col-md-3">{{ order.address }}</div>
        </div>
        <div class="row">
          <div class="sm-5 col-md-2 text-right font-weight-bold">City</div><div class="sm-6 col-md-3">{{ order.city }}</div>
          <div class="sm-5 col-md-2 text-right font-weight-bold">Post Code</div><div class="sm-6 col-md-3">{{ order.postal_code }}</div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
