{% load wagtailimages_tags wagtailcore_tags %}

<div class="row article">
  {% if value.image %}
  <div class="col-lg-2 image">
    {% if value.link %}
      <a href="{{ value.link }}" target="_blank">{% image value.image max-640x300 class="img-fluid rounded" %}</a>
    {% else %}
      {% image value.image max-640x300 class="img-fluid rounded" %}
    {% endif %}
  </div>
  <div class="col-lg-10 text-justify">
    {% if value.heading %}
      {% if value.link %}
        <h3><a href="{{ value.link }}" target="_blank">{{ value.heading }}</a></h3>
      {% else %}
        <h3>{{ value.heading }}</h3>
      {% endif %}
    {% endif %}
    {{ value.article|richtext }}
  </div>
  {% else %}
  <div class="col-12 text-justify">
    {% if value.heading %}
      {% if value.link %}
        <h3><a href="{{ value.link }}" target="_blank">{{ value.heading }}</a></h3>
      {% else %}
        <h3>{{ value.heading }}</h3>
      {% endif %}
    {% endif %}
    {{ value.article|richtext }}
  </div>
  {% endif %}
</div>

